.book-list {
  width: 50%;
}

.books {
  list-style-type: none;
  padding: 1px;
  margin: 1px;
}

.books div {
  padding: 0.3rem;
}

body {
  font-family: 'Varela Round', sans-serif;
  box-sizing: border-box;
  height: 100vh;
}

.awesome-book {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form {
  width: 25%;
}

#form,
#contact-info {
  display: none;
}

input[type='text'] {
  box-sizing: border-box;
  width: 100%;
  padding: 0.2rem;
}

.books li {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.dark-bg {
  background-color: rgb(218, 218, 218);
}

.black-border,
.remove-btn,
#add,
input[type='text'] {
  border: 2px solid black;
}

.remove-btn,
#add {
  background-color: white;
  box-shadow: 2px 2px;
}

#add {
  float: right;
}

h2 {
  text-align: center;
}

nav,
footer {
  margin: 5px;
  display: flex;
  justify-content: space-between;
  padding: 2px 1px 2px 10px;
  border: 2px solid black;
  align-items: center;
}

.nav-btn {
  background-color: white;
  border: white;
  padding: 5px;
  font-family: 'Varela Round', sans-serif;
  cursor: pointer;
}

.nav-btn:not(:last-child) {
  border-right: 2px solid black;
}

.nav-btn:nth-child(1) {
  color: blue;
}

footer {
  position: absolute;
  bottom: 0;
  width: calc(100% - 40px);
}

.date {
  text-align: right;
  padding-right: 0.4rem;
}